<h1
  style="
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
  "
>
  TODO LIST APP
</h1>

<div class="todo-create">
  <mat-card>
    <form
      style="padding: 0 30%"
      [formGroup]="todoForm"
      (ngSubmit)="createTodo(todoForm.value, todoForm.valid)"
    >
      <mat-form-field style="margin-left: 3%"
        ><mat-label>title</mat-label>
        <input
          matInput
          formControlName="title"
          placeholder="enter some title here"
          required
        />
        <mat-error *ngIf="title.touched && title.invalid"
          >Please enter a title</mat-error
        >
      </mat-form-field>
      <mat-form-field
        ><mat-label>description</mat-label>
        <input
          matInput
          formControlName="description"
          placeholder="some description here"
          required
        />
        <mat-error *ngIf="description.touched && description.invalid"
          >Please enter some description here</mat-error
        >
      </mat-form-field>

      <button mat-fab color="accent" *ngIf="!isLoading">
        <span class="material-icons"> add </span>
      </button>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
  </mat-card>
</div>

<mat-card>
  <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
  <p class="info-text mat-body-1 tophead">{{ "manage tasks" | uppercase }}</p>
  <br />
  <hr />
  <br />

  <span class="info-text mat-body-1" *ngIf="todoList.length <= 0"
    >YOU DONT HAVE ANY CURRENT TASKS</span
  >

  <mat-accordion multi="true" *ngIf="todoList.length > 0">
    <mat-expansion-panel *ngFor="let task of todoList; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ task.title }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-checkbox
        [checked]="task.status === 'Completed'"
        (change)="updateTaskStatus($event.checked, task._id)"
        class="example-margin"
        #checkMark
      >
        {{ task.description }}</mat-checkbox
      >

      <mat-action-row>
        <button
          [disabled]="checkMark.checked"
          mat-button
          color="primary"
          (click)="getTaskDetails(task._id)"
        >
          EDIT
        </button>
        <button mat-button color="warn" (click)="onDeleteTask(task._id, i)">
          DELETE
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
